// grid
// mobile: 5 colums
// 769: 9
// 1441: 12
// 1900: 15

$bkpt-grid-9: 769px;
$bkpt-grid-12: 1441px;
$bkpt-grid-15: 1900px;

$rem: 12px;
$basefont: 13px;
$gutter: 2rem;

$black: black;
$white: white;

$z-overlay: 50;

$fadeDuration: 800ms;
$navCondenseDuration: 500ms;

@import 'helpers';